<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.sdk.android.oss_android_sdk">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest>
