<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.sdk.android.oss_android_sdk">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <application android:allowBackup="true" android:label="@string/app_name">

    </application>

</manifest>
